In [1]:
from calctools import *
import pandas as pd

**Input data**
+ For `cut_lengths` provide required cut schedule as a dictionary where the key is the cut length and the value is the quantity.
+ For `wclengths` choose either `clengths_metric`, `clengths_english` or provide your own list.

In [2]:
print("Standard rebar lengths in m:", clengths_metric)
print("Standard rebar lengths in ft:", clengths_english)

Standard rebar lengths in m: (6, 7.5, 9, 10.5, 12)
Standard rebar lengths in ft: (20, 25, 30, 35, 40)

In [3]:
# This is just sample input. Lengths are all in meters.

cut_lengths = {
    0.25: 10, 
    1.25: 10, 
    2.5: 2, 
    1.1: 96, 
    1.0: 70, 
    0.9: 24, 
    6: 32, 
    4.6: 68
}

wclengths = clengths_metric

In [4]:
outputs = get_estimate(cut_schedule=cut_lengths.items(), wclengths=wclengths)
for output in outputs:
    print(output)

defaultdict(<class 'int'>, {6: 32, 10.5: 34, 7.5: 1})
defaultdict(<class 'int'>, {1.3: 26, 0.05: 8})
[{'produced_length': 6, 'produced_qty': 32, 'produced_type': 'cut length', 'from_length': 6, 'from_length_type': 'new rebar'}, {'produced_length': 4.6, 'produced_qty': 68, 'produced_type': 'cut length', 'from_length': 10.5, 'from_length_type': 'new rebar'}, {'produced_length': 1.3, 'produced_qty': 34, 'produced_type': 'excess', 'from_length': 10.5, 'from_length_type': 'new rebar'}, {'produced_length': 2.5, 'produced_qty': 2, 'produced_type': 'cut length', 'from_length': 7.5, 'from_length_type': 'new rebar'}, {'produced_length': 2.5, 'produced_qty': 1, 'produced_type': 'excess', 'from_length': 7.5, 'from_length_type': 'new rebar'}, {'produced_length': 1.25, 'produced_qty': 2, 'produced_type': 'cut length', 'from_length': 2.5, 'from_length_type': 'excess rebar'}, {'produced_length': 1.25, 'produced_qty': 8, 'produced_type': 'cut length', 'from_length': 1.3, 'from_length_type': 'excess rebar'}, {'produced_length': 0.05, 'produced_qty': 8, 'produced_type': 'excess', 'from_length': 1.3, 'from_length_type': 'excess rebar'}]

In [5]:
columns_estimate = ["rebar_length", "quantity"]
pd.DataFrame(sorted(outputs[0].items()), columns=columns_estimate)

   rebar_length  quantity
0           6.0        32
1           7.5         1
2          10.5        34

In [6]:
columns_excess = ["excess_length", "quantity"]
pd.DataFrame(outputs[1].items(), columns=columns_excess)

   excess_length  quantity
0           1.30        26
1           0.05         8

In [7]:
pd.DataFrame(outputs[2])

   produced_length  produced_qty produced_type  from_length from_length_type
0             6.00            32    cut length          6.0        new rebar
1             4.60            68    cut length         10.5        new rebar
2             1.30            34        excess         10.5        new rebar
3             2.50             2    cut length          7.5        new rebar
4             2.50             1        excess          7.5        new rebar
5             1.25             2    cut length          2.5     excess rebar
6             1.25             8    cut length          1.3     excess rebar
7             0.05             8        excess          1.3     excess rebar